@model ABMClientes.Models.Clientes

@{
    ViewBag.Title = "Delete";
}


<h2 class="custom-title mb-4">Eliminar</h2>
<style>
    .custom-title {
        color: #17a2b8; /* Color azul tipo Bootstrap */
        font-size: 2rem; /* Tamaño de fuente grande */
        font-weight: bold; /* Poner en negrita */
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
        text-align: start; /* Centrado */
    }
</style>

<h3>¿Estas seguro de eliminar este cliente?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CUIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index", "", new { @class = "btn btn-secondary" })
        </div>
    }
</div>
