@model ABMClientes.Models.Clientes

@{
    ViewBag.Title = "Details";
}

<h2 class="custom-title mb-4">Detalle</h2>
<style>
    .custom-title {
        color: #dc3545; /* Color azul tipo Bootstrap */
        font-size: 2rem; /* Tamaño de fuente grande */
        font-weight: bold; /* Poner en negrita */
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
        text-align: start; /* Centrado */
    }
</style>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CUIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Volver", "Index", "", new { @class = "btn btn-secondary" })
</p>
