@model IEnumerable<ABMClientes.Models.Clientes>

@{
    ViewBag.Title = "Index";
}

<div class="container mt-4">
    <h2 class="custom-title mb-4">CRUD Clientes</h2>


    <p>
        @Html.ActionLink("Nuevo Cliente", "Create", "", new { @class = "btn btn-success mb-3" })
    </p>
    <style>
        .custom-title {
            color: #17a2b8; /* Color azul tipo Bootstrap */
            font-size: 3rem; /* Tamaño de fuente grande */
            font-weight: bold; /* Poner en negrita */
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
            text-align: center; /* Centrado */
        }
    </style>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.CUIT)</th>
                <th>@Html.DisplayNameFor(model => model.RazonSocial)</th>
                <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                <th>@Html.DisplayNameFor(model => model.Direccion)</th>
                <th>@Html.DisplayNameFor(model => model.Activo)</th>

                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.CUIT)</td>
                    <td>@Html.DisplayFor(modelItem => item.RazonSocial)</td>
                    <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                    <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                    <td>
                        @if (item.Activo)
                        {
                            <span class="badge bg-success text-white">Si</span>
                        }
                        else
                        {
                            <span class="badge bg-danger text-white">No</span>
                        }
                    </td>

                    <td class="text-center">
                        @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "btn btn-warning btn-sm" }) |
                        @Html.ActionLink("Detalle", "Details", new { id = item.id }, new { @class = "btn btn-info btn-sm" }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

